:root {
  --relume-library-lite--rl-black: black;
  --relume-library-lite--rl-white: white;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.rl-button {
  border-top: 0px none var(--relume-library-lite--rl-black);
  border-right: 1px none var(--relume-library-lite--rl-black);
  border-left-color: var(--relume-library-lite--rl-black);
  color: #000;
  text-align: center;
  background-color: #a99c6f;
  padding: .75rem 1.5rem;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  transition: all .25s;
}

.rl-button:hover {
  color: #fff;
}

.rl_heading1_spacing-block-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-medium {
  color: #494949;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl-text-style-medium.is-white {
  color: #fff;
}

.rl-text-style-medium.is-white.small, .rl-text-style-medium.small {
  font-size: .875rem;
}

.rl-text-style-medium.centre {
  text-align: center;
}

.rl-text-style-medium.centre.white {
  color: #fff;
}

.rl_heading1_spacing-block-1 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.rl-heading-style-h1 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl-heading-style-h1.is-white {
  color: #fff;
  font-family: Lato, sans-serif;
}

.rl-padding-global {
  padding-left: 8%;
  padding-right: 8%;
}

.rl-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.header5_component {
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  max-height: 60rem;
  display: flex;
}

.rl_section_header5 {
  background-image: linear-gradient(#344e41b3, #344e41b3), url('../images/medium-shot-smiley-african-boys.jpg');
  background-position: 0 0, 0%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  position: relative;
}

.rl_header5_content {
  color: #fff;
  width: 100%;
  max-width: 35rem;
}

.rl-button-secondary-alternate {
  border: 1px solid var(--relume-library-lite--rl-white);
  color: #fff;
  text-align: center;
  background-color: #0000;
  padding: .75rem 1.5rem;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  transition: all .25s;
}

.rl-button-secondary-alternate:hover {
  color: #a99c6f;
}

.rl_navbar1_dropdown-link {
  color: #000;
  padding: .5rem 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_navbar1_dropdown-link.w--current {
  color: #000;
}

.rl_navbar1_menu {
  align-items: center;
  display: flex;
  position: static;
}

.rl_navbar1_dropdown-list.w--open {
  background-color: #fff;
  border: 1px solid #000;
  padding: .5rem;
}

.rl_navbar1_link {
  color: var(--relume-library-lite--rl-white);
  background-color: #0000;
  padding: .5rem 1rem;
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  transition: all .25s;
}

.rl_navbar1_link:hover, .rl_navbar1_link.w--current {
  color: #a99c6f;
}

.rl_navbar1_menu-button {
  padding: 0;
}

.rl_navbar1_container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.rl_navbar1_component {
  background-color: #ddd0;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  position: relative;
}

.rl_navbar1_button {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-black);
  color: var(--relume-library-lite--rl-white);
  text-align: center;
  padding: .5rem 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_navbar1_dropdown-toggle {
  color: var(--relume-library-lite--rl-black);
  padding: .5rem 2.5rem .5rem 1rem;
  font-family: Marcellus, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_navbar1_button-secondary {
  border: 1px solid var(--relume-library-lite--rl-black);
  color: var(--relume-library-lite--rl-black);
  text-align: center;
  background-color: #0000;
  padding: .5rem 1.25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl-dropdown-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
}

.rl_navbar1_logo-link {
  padding-left: 0;
}

.rl_navbar1_menu-buttons {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-left: 1rem;
  display: flex;
}

.rl-padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl-heading-style-h2 {
  color: #1a3a37;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl-heading-style-h2.white {
  color: #fff;
}

.rl-heading-style-h2.yellow {
  color: #ccb363;
}

.rl-button-secondary {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-white);
  color: var(--relume-library-lite--rl-black);
  text-align: center;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
}

.rl_section_layout1 {
  background-color: #f6f5f1;
}

.rl_section_layout1.white {
  background-color: #fff;
}

.rl-button-link-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.rl_layout1_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-button-link {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  border: 1px none var(--relume-library-lite--rl-black);
  color: var(--relume-library-lite--rl-black);
  text-align: center;
  background-color: #0000;
  padding: .25rem 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  display: flex;
}

.rl_layout1_content {
  background-color: #fff;
  border-top-right-radius: 60px;
  padding: 2rem;
}

.rl_layout1_content.alt {
  background-color: #f6f5f1;
  border-top-left-radius: 60px;
  border-top-right-radius: 0;
}

.rl_layout1_content.about {
  background-color: #fff0;
  padding: 0;
}

.rl_layout1_content.white.left {
  border-top-left-radius: 60px;
  border-top-right-radius: 0;
}

.rl-text-style-subheading {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Marcellus, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_layout1_spacing-block-3 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_layout1_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.rl_layout1_component.even {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  align-items: stretch;
}

.rl_layout1_component.none {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: stretch;
  display: block;
}

.rl_layout1_component.mechanisms {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
}

.rl_layout1_image {
  border-bottom-left-radius: 60px;
}

.rl_layout1_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.padding-section-large {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.padding-section-large.none {
  padding-bottom: 0;
}

.spacing-block-5 {
  width: 100%;
  padding-bottom: 5rem;
}

.text-size-why.white {
  color: #fff;
}

.why_card-small {
  border-style: none;
  border-width: 0;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  padding-left: 0;
  display: flex;
}

.why_card-small.bottom {
  padding-left: 0;
  padding-right: 0;
}

.why_grid-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.why {
  background-color: #1a3a37;
}

.padding-global {
  padding-left: 8%;
  padding-right: 8%;
}

.margin-bottom, .margin-bottom.margin-small {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.why_card-large {
  background-color: #f1f5f9;
  border-style: none;
  border-width: 0;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: flex;
}

.why_card-large-content {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: stretch;
  padding: 3rem;
  display: flex;
}

.layout367_card-large-image-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
}

.text-style-medium {
  color: #475568;
  text-align: left;
  letter-spacing: -.011em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.heading-style-h3 {
  font-family: Lato, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
}

.heading-style-h3.white {
  color: #fff;
  margin-top: 0;
  font-family: Lato, sans-serif;
}

.heading-style-h3.green {
  color: #1a3a37;
  margin-top: 0;
  font-family: Lato, sans-serif;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.project-header_content {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  text-align: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  width: 100%;
  display: block;
}

.why_row {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.spacing-block-3 {
  width: 100%;
  padding-bottom: 3rem;
}

.why_card-small-content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #f6f5f1;
  border: 0 #0000;
  border-top-left-radius: 60px;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 2rem;
  display: flex;
}

.why_card-small-content.red {
  background-color: #a99c6f;
  border-top-left-radius: 0;
  border-top-right-radius: 60px;
}

.heading-style-h2 {
  color: #000;
  text-align: left;
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.rl-heading-style-h2-2 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_section_layout1-2 {
  background-color: var(--relume-library-lite--rl-white);
}

.rl-text-style-medium-2 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl-text-style-subheading-2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_layout1_component-2 {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr .5fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.rl_layout1_component-2.alt {
  grid-template-columns: .5fr 1fr;
  place-items: start stretch;
}

.rl-padding-global-2 {
  padding-left: 5%;
  padding-right: 5%;
}

.bold-text {
  color: #1a3a37;
  font-family: Lato, sans-serif;
}

.rl-padding-section-large-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl_layout242_spacing-block-4 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-text-style-regular {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_layout242_component {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.rl_layout242_icon {
  width: 3rem;
  height: 3rem;
}

.rl-button-link-icon-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.rl_layout242_item {
  background-color: #f6f5f100;
  border: 1px solid #1a3a3747;
  border-top-left-radius: 40px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: all .25s;
  display: flex;
}

.rl_layout242_item:hover {
  background-color: #f5f0e0;
  border-color: #1a3a37;
}

.rl_layout242_item.alt {
  background-color: #ffffff1a;
  border-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 40px;
}

.rl_layout242_item.other {
  background-color: #ffffff1a;
}

.rl_layout242_item.other.hide {
  display: none;
}

.rl_section_layout242 {
  background-color: #fff;
}

.rl_layout242_spacing-block-3 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-button-link-2 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  border: 1px none var(--relume-library-lite--rl-black);
  color: var(--relume-library-lite--rl-black);
  text-align: center;
  background-color: #0000;
  padding: .25rem 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  display: flex;
}

.rl-heading-style-h5 {
  color: #1a3a37;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.rl-heading-style-h5.white {
  color: #fff;
}

.rl_layout242_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-button-group-2 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.rl_layout242_spacing-block-1 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl-heading-style-h3 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl-padding-global-3 {
  padding-left: 5%;
  padding-right: 5%;
}

.rl_layout242_heading-wrapper {
  width: 100%;
  max-width: 48rem;
}

.rl-container-large-2 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl_layout242_content {
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: stretch start;
  width: 100%;
  display: grid;
}

.bold-text-2 {
  color: #ccb363;
}

.rl-padding-section-large-3 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.rl-error-message {
  margin-top: 1.5rem;
  padding: .875rem 1rem;
}

.rl-heading-style-h2-3 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl-error-text {
  color: #e23939;
}

.rl_cta26_spacing-block-1 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_cta_form-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  display: grid;
}

.rl-form-input {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-white);
  color: var(--relume-library-lite--rl-black);
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0;
  padding: .5rem .75rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.rl-form-input:focus {
  border-color: var(--relume-library-lite--rl-black);
}

.rl-form-input::placeholder {
  color: var(--relume-library-lite--rl-black);
  font-size: 1rem;
}

.rl_cta26_spacing-block-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-success-message {
  background-color: #f4f4f4;
  padding: 1.5rem;
}

.rl-button-2 {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-black);
  color: var(--relume-library-lite--rl-white);
  text-align: center;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
}

.rl-success-text {
  font-weight: 600;
}

.rl_section_cta26 {
  background-color: var(--relume-library-lite--rl-white);
  background-image: linear-gradient(#1a3a37cc, #1a3a37cc), url('../images/close-up-people-working-outdoors.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  position: relative;
}

.rl-text-style-medium-3 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl-text-style-link {
  color: var(--relume-library-lite--rl-black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  text-decoration: underline;
}

.rl-padding-global-4 {
  padding-left: 5%;
  padding-right: 5%;
}

.rl_cta26_component {
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 48rem;
  display: flex;
}

.rl-text-style-tiny {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_cta26_spacing-block-3 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl_cta26_form-block {
  max-width: 30rem;
  margin-bottom: 0;
}

.double {
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: stretch start;
  width: 100%;
  display: grid;
}

.rl_footer3_spacing-block-5 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_footer3_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_footer3_top-wrapper {
  grid-column-gap: 4vw;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  display: grid;
}

.rl_footer3_legal-link {
  color: var(--relume-library-lite--rl-white);
  font-family: Lato, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_footer3_spacing-block-1 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_footer3_link {
  color: #fff;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-family: Lato, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_footer3_bottom-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.rl-padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.rl-text-style-small {
  color: var(--relume-library-lite--rl-white);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

.rl_footer3_social-list {
  grid-column-gap: .75rem;
  grid-row-gap: 0rem;
  color: #fff;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  place-items: start;
  display: grid;
}

.rl_footer3_spacing-block-3 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl_footer3_line-divider {
  background-color: #907f44;
  width: 100%;
  height: 1px;
}

.rl_footer3_social-link {
  color: var(--relume-library-lite--rl-black);
  align-items: center;
  text-decoration: none;
  display: flex;
}

.rl_footer3_text {
  color: var(--relume-library-lite--rl-white);
  font-family: Lato, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_footer3_spacing-block-4 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl_footer3_link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  place-items: flex-start start;
  display: flex;
}

.rl_footer3_credit-text {
  color: var(--relume-library-lite--rl-white);
  font-family: Lato, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_footer3_component {
  background-color: #a99c6f;
}

.rl_footer3_logo-link {
  float: none;
  padding-left: 0;
}

.rl_footer3_legal-list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.rl-social-icon {
  color: var(--relume-library-lite--rl-white);
  width: 1.5rem;
  height: 1.5rem;
}

.rl_footer3_menu-wrapper {
  grid-column-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.rl-container-large-3 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.list {
  color: #fff;
}

.rl-padding-section-large-4 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl-button-secondary-2 {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-white);
  color: var(--relume-library-lite--rl-black);
  text-align: center;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
}

.rl-button-3 {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-black);
  color: var(--relume-library-lite--rl-white);
  text-align: center;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
}

.rl_header44_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-text-style-medium-4 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_header44_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-button-group-3 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.rl_section_header44 {
  background-color: #fff;
  background-image: linear-gradient(#344e4180, #344e4180), url('../images/medium-shot-boys-hugging.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.rl_section_header44.tof {
  background-image: linear-gradient(#344e4180, #344e4180), url('../images/medium-shot-happy-community.jpg');
}

.rl_section_header44.founder {
  background-image: linear-gradient(#344e4180, #344e4180), url('../images/1114.png');
  background-position: 0 0, 100% 0;
  background-size: auto, cover;
  background-attachment: scroll, scroll;
}

.rl_section_header44.goal {
  background-image: linear-gradient(#344e4180, #344e4180), url('../images/medium-shot-kid-painting-wood.jpg');
}

.rl-text-style-subheading-3 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_header44_spacing-block-3 {
  width: 100%;
  padding-bottom: 2rem;
}

.rl-heading-style-h1-2 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl-padding-global-5 {
  padding-left: 5%;
  padding-right: 5%;
}

.rl-container-large-4 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl_header44_component {
  width: 100%;
  max-width: 48rem;
}

.header_content {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  text-align: center;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  width: 100%;
  display: grid;
}

.text-size-tiny {
  font-family: Marcellus, sans-serif;
  font-size: .75rem;
  display: none;
}

.header_component {
  z-index: 1;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.btn-close {
  background-color: #1a3a37;
  background-image: radial-gradient(circle at 50% 0, #ccb36300, #1a3a37);
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px 12px;
  display: flex;
}

.spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.modals {
  z-index: 999;
  background-color: #000000de;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 80px 20px;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: auto;
}

.grp-modal-1 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.grp-modal-1.mb40 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}

.team {
  background-color: #1a3a37;
  position: relative;
  overflow: hidden;
}

.heading-style-h5 {
  color: #0f1621;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.div-block-4 {
  display: flex;
}

.team-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: #f6f5f1;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 1.5rem;
  display: flex;
}

.team-header_content-bottom {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.team_image-wrapper {
  width: 100%;
  position: relative;
}

.team_item {
  color: #0f1621;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.heading-style-h1 {
  color: #000;
  text-align: left;
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.text-style-regular {
  color: #475568;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.text-style-regular.team {
  font-size: .875rem;
}

.text-style-regular.team-copy {
  background-color: #fff;
  font-family: Marcellus, sans-serif;
  font-size: .875rem;
}

.modal-1 {
  background-color: #fff;
  border-radius: 0;
  width: 582px;
  max-width: none;
  padding: 40px;
  display: none;
}

.blue-span {
  color: #6db7de;
}

.team-header_image-list {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  display: grid;
}

.img-close {
  filter: invert();
}

.bold-text-3 {
  color: #ccb363;
}

.text-span {
  color: #a99c6f;
}

.rl-padding-section-large-5 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.rl-heading-style-h2-4 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl-button-secondary-3 {
  border: 1px solid var(--relume-library-lite--rl-black);
  background-color: var(--relume-library-lite--rl-white);
  color: var(--relume-library-lite--rl-black);
  text-align: center;
  padding: .75rem 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
}

.rl-button-link-icon-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.rl_layout192_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-button-link-3 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  border: 1px none var(--relume-library-lite--rl-black);
  color: var(--relume-library-lite--rl-black);
  text-align: center;
  background-color: #0000;
  padding: .25rem 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  display: flex;
}

.rl_layout192_component {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.rl-text-style-medium-5 {
  color: var(--relume-library-lite--rl-black);
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_section_layout192 {
  background-color: var(--relume-library-lite--rl-white);
}

.rl-button-group-4 {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.rl-text-style-subheading-4 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_layout192_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-padding-global-6 {
  padding-left: 5%;
  padding-right: 5%;
}

.rl-container-large-5 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl_layout192_spacing-block-3 {
  width: 100%;
  padding-bottom: 2rem;
}

.image {
  aspect-ratio: 1;
  border-bottom-right-radius: 60px;
}

.logo_wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  aspect-ratio: 1;
  background-color: #eff3f7;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 16px 32px;
  display: flex;
}

.logo_wrapper._1 {
  background-image: url('../images/tof1.png');
  background-position: 0 0;
  background-size: cover;
}

.logo_wrapper._2 {
  background-image: url('../images/tof2.png');
  background-position: 0 0;
  background-size: cover;
}

.logo_wrapper._3 {
  background-image: url('../images/tof3.png');
  background-position: 50%;
  background-size: cover;
}

.logo_wrapper._4 {
  background-image: url('../images/tof8.png');
  background-position: 50%;
  background-size: cover;
}

.logo_wrapper._5 {
  background-image: url('../images/tof5.png');
  background-position: 50%;
  background-size: cover;
}

.logo_wrapper._6 {
  background-image: url('../images/tof6.png');
  background-position: 50%;
  background-size: cover;
}

.logo_wrapper._7 {
  background-image: url('../images/tof7.png');
  background-position: 50%;
  background-size: cover;
}

.logo_wrapper._8 {
  background-color: #eff3f700;
  background-image: url('../images/tof8.png');
  background-position: 0 0;
  background-size: cover;
}

.logo_wrapper._9 {
  background-image: url('../images/tof9.png');
  background-position: 0 0;
  background-size: cover;
}

.logo_wrapper._10 {
  background-image: url('../images/tof10.png');
  background-position: 0 0;
  background-size: cover;
}

.partners {
  overflow: hidden;
}

.heading-style-h2-2 {
  color: #3943b7;
  text-align: right;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
}

.heading-style-h2-2:lang(he) {
  font-weight: 300;
}

.heading-style-h2-2.centre {
  text-align: center;
}

.heading-style-h2-2.centre:lang(he) {
  font-weight: 300;
}

.padding-section-large-2 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.spacing-block-2-2 {
  width: 100%;
  padding-bottom: 2rem;
}

.logo_component {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.logo_component:lang(en), .logo_component.anti {
  justify-content: flex-start;
  align-items: center;
}

.logo_component.anti:lang(en) {
  justify-content: flex-end;
  align-items: center;
}

.logo_list {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  white-space: nowrap;
  flex-wrap: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  place-items: center end;
  display: grid;
}

@media screen and (min-width: 1280px) {
  .why_card-small-content {
    padding: 2rem;
  }

  .why_card-small-content.red {
    padding-top: 2rem;
  }

  .heading-style-h2 {
    font-size: 3rem;
  }

  .team {
    position: relative;
  }

  .team-wrapper {
    padding: 2rem;
  }

  .heading-style-h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .heading-style-h2 {
    font-size: 3rem;
  }

  .team {
    overflow: hidden;
  }
}

@media screen and (max-width: 991px) {
  .rl-heading-style-h1 {
    font-size: 3.25rem;
  }

  .rl_navbar1_dropdown-link {
    width: auto;
    padding: .75rem 0 .75rem 5%;
  }

  .rl_menu-icon_line-middle {
    background-color: #a99c6f;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .rl_navbar1_menu-dropdown {
    width: 100%;
    font-size: 1.125rem;
  }

  .rl_navbar1_menu {
    -webkit-text-fill-color: inherit;
    background-color: #fff;
    background-clip: border-box;
    border-bottom: 1px solid #000;
    padding: 1rem 5% 2rem;
    position: absolute;
    overflow: auto;
  }

  .rl_navbar1_menu.is-page-height-tablet {
    height: 100vh;
    padding-bottom: 15rem;
  }

  .rl_menu-icon_line-top {
    background-color: #a99c6f;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_navbar1_dropdown-list {
    position: static;
    overflow: hidden;
  }

  .rl_navbar1_dropdown-list.w--open {
    border-style: none;
    padding: 0;
  }

  .rl_menu-icon {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .rl_navbar1_link {
    width: auto;
    padding: .75rem 0;
    font-size: 1.125rem;
  }

  .rl_navbar1_menu-button.w--open {
    background-color: #0000;
  }

  .rl_menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_navbar1_dropdown-toggle {
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    display: flex;
  }

  .rl-dropdown-icon {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    inset: auto 0% auto auto;
  }

  .rl_menu-icon_line-bottom {
    background-color: #a99c6f;
    width: 24px;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .rl_navbar1_menu-buttons {
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    margin-top: 1.5rem;
    margin-left: 0;
  }

  .rl-padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.75rem;
  }

  .rl_layout1_component {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .rl_layout1_component.even, .rl_layout1_component.mechanisms {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .spacing-block-5 {
    padding-bottom: 4.5rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .why_card-large-content {
    padding: 2rem;
  }

  .heading-style-h3 {
    font-size: 2.25rem;
  }

  .why_row {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .why_card-small-content {
    padding: 2rem;
  }

  .heading-style-h2 {
    font-size: 2.5rem;
  }

  .rl-heading-style-h2-2 {
    font-size: 2.75rem;
  }

  .rl_layout1_component-2 {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .rl-padding-section-large-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .rl_layout242_spacing-block-1 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h3 {
    font-size: 2.25rem;
  }

  .rl_layout242_content {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .rl-padding-section-large-3 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .rl-heading-style-h2-3 {
    font-size: 2.75rem;
  }

  .double {
    grid-column-gap: 2rem;
  }

  .rl_footer3_top-wrapper {
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .rl-padding-section-medium {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .rl_footer3_spacing-block-4 {
    padding-bottom: 4.5rem;
  }

  .rl_footer3_menu-wrapper {
    grid-template-columns: 1fr;
  }

  .div-block {
    display: none;
  }

  .rl-padding-section-large-4 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .rl-heading-style-h1-2 {
    font-size: 3.25rem;
  }

  .header_content {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .modals {
    display: none;
  }

  .grp-modal-1.mb40 {
    align-items: center;
  }

  .heading-style-h5 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.75rem;
  }

  .modal-1 {
    display: none;
  }

  .team-header_image-list {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .rl-padding-section-large-5 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .rl-heading-style-h2-4 {
    font-size: 2.75rem;
  }

  .rl_layout192_component {
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    min-height: auto;
  }

  .logo_wrapper {
    justify-content: center;
    align-items: center;
  }

  .heading-style-h2-2 {
    font-size: 2.75rem;
  }

  .padding-section-large-2 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 767px) {
  .rl_heading1_spacing-block-2 {
    padding-bottom: 1.5rem;
  }

  .rl-text-style-medium {
    text-align: justify;
    font-size: 1rem;
  }

  .rl_heading1_spacing-block-1 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h1 {
    font-size: 2.5rem;
  }

  .rl_navbar1_component {
    height: auto;
    min-height: 4rem;
  }

  .rl_navbar1_logo-link {
    padding-left: 0;
  }

  .rl-padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.25rem;
  }

  .rl_layout1_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .rl_layout1_spacing-block-3 {
    padding-bottom: 1.5rem;
  }

  .rl_layout1_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_layout1_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacing-block-5 {
    padding-bottom: 3rem;
  }

  .why_card-small {
    grid-template-columns: 1fr;
  }

  .why_grid-list {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .why_card-large {
    grid-template-columns: 1fr;
  }

  .why_card-large-content {
    padding: 1.5rem;
  }

  .text-style-medium {
    font-size: 1rem;
  }

  .heading-style-h3 {
    font-size: 2rem;
  }

  .project-header_content {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }

  .why_row {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .spacing-block-3 {
    padding-bottom: 1.5rem;
  }

  .why_card-small-content {
    padding: 1.5rem;
  }

  .heading-style-h2, .rl-heading-style-h2-2 {
    font-size: 2.25rem;
  }

  .rl-text-style-medium-2 {
    font-size: 1rem;
  }

  .rl_layout1_component-2 {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl-padding-section-large-2 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl_layout242_spacing-block-4 {
    padding-bottom: 1.5rem;
  }

  .rl_layout242_spacing-block-3 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h5 {
    font-size: 1.25rem;
  }

  .rl_layout242_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl_layout242_spacing-block-1 {
    padding-bottom: 3rem;
  }

  .rl-heading-style-h3 {
    font-size: 2rem;
  }

  .rl_layout242_content {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl-padding-section-large-3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl-heading-style-h2-3 {
    font-size: 2.25rem;
  }

  .rl_cta26_spacing-block-1 {
    padding-bottom: 1.25rem;
  }

  .rl_cta26_spacing-block-2 {
    padding-bottom: 1.5rem;
  }

  .rl-text-style-medium-3 {
    font-size: 1rem;
  }

  .rl_cta26_spacing-block-3 {
    padding-bottom: .75rem;
  }

  .double {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_footer3_spacing-block-5 {
    padding-bottom: 1.5rem;
  }

  .rl_footer3_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl_footer3_top-wrapper {
    grid-row-gap: 3rem;
  }

  .rl_footer3_spacing-block-1 {
    padding-bottom: 1.5rem;
  }

  .rl_footer3_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 1rem;
  }

  .rl-padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .rl_footer3_spacing-block-3 {
    padding-bottom: 1.5rem;
  }

  .rl_footer3_spacing-block-4 {
    padding-bottom: 3rem;
  }

  .rl_footer3_credit-text {
    margin-top: 2rem;
  }

  .rl_footer3_legal-list {
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
    grid-auto-flow: row;
  }

  .rl_footer3_menu-wrapper {
    grid-column-gap: 1.5rem;
  }

  .rl-padding-section-large-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl_header44_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl-text-style-medium-4 {
    font-size: 1rem;
  }

  .rl_header44_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .rl_header44_spacing-block-3 {
    padding-bottom: 1.5rem;
  }

  .rl-heading-style-h1-2 {
    font-size: 2.5rem;
  }

  .header_content {
    margin-bottom: 0;
  }

  .spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .modals {
    display: none;
  }

  .grp-modal-1.mb40 {
    align-items: center;
  }

  .heading-style-h5 {
    font-size: 1.25rem;
  }

  .heading-style-h1 {
    font-size: 2.25rem;
  }

  .modal-1 {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
  }

  .team-header_image-list {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .rl-padding-section-large-5 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl-heading-style-h2-4 {
    font-size: 2.25rem;
  }

  .rl_layout192_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .rl_layout192_component {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl-text-style-medium-5 {
    font-size: 1rem;
  }

  .rl_layout192_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl_layout192_spacing-block-3 {
    padding-bottom: 1.5rem;
  }

  .heading-style-h2-2 {
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    line-height: 33.6px;
    display: flex;
  }

  .heading-style-h2-2.centre {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .padding-section-large-2 {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .spacing-block-2-2 {
    padding-bottom: 1.5rem;
  }

  .logo_list {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-right: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .rl-button {
    width: 100%;
  }

  .rl_section_header5 {
    background-image: linear-gradient(to bottom, null, null), url('../images/medium-shot-smiley-african-boys.jpg');
    background-position: 0 0, 50%;
  }

  .rl-button-secondary-alternate {
    width: 100%;
  }

  .rl_navbar1_menu.is-page-height-tablet {
    background-color: #1a3a37;
  }

  .rl_layout1_content.alt {
    border-top-left-radius: 30px;
  }

  .rl_layout1_content.white {
    border-top-right-radius: 30px;
    padding: 1rem;
  }

  .rl_layout1_content.white.left {
    border-top-left-radius: 30px;
  }

  .rl_layout1_component {
    grid-template-columns: 1fr;
  }

  .why_card-small {
    padding-left: 0;
  }

  .why_card-small.bottom {
    padding-right: 0;
  }

  .padding-global {
    padding-left: 5%;
    padding-right: 5%;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .why_card-large-content {
    display: block;
  }

  .text-style-medium {
    font-size: .875rem;
  }

  .heading-style-h3.white, .heading-style-h3.green {
    font-size: 1.5rem;
  }

  .why_row {
    grid-template-columns: 1fr;
  }

  .why_card-small-content {
    border-top-left-radius: 30px;
    padding: 1rem;
  }

  .why_card-small-content.red {
    border-top-right-radius: 30px;
  }

  .heading-style-h2 {
    font-size: 1.75rem;
  }

  .rl_layout1_component-2 {
    grid-template-columns: 1fr;
  }

  .rl_layout1_component-2.alt {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .rl_layout242_item {
    border-top-left-radius: 30px;
  }

  .rl_layout242_content {
    grid-template-columns: 1fr;
  }

  .rl_cta_form-wrapper {
    grid-row-gap: .75rem;
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .double {
    grid-template-columns: 1fr;
  }

  .rl_footer3_menu-wrapper {
    grid-row-gap: 40px;
    grid-template-columns: 1fr;
  }

  .header_content {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    place-items: center start;
  }

  .header_component {
    z-index: auto;
  }

  .modals {
    padding-left: 0;
    padding-right: 0;
    display: none;
  }

  .grp-modal-1.mb40 {
    margin-bottom: 20px;
  }

  .team-header_content-bottom {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .heading-style-h1 {
    font-size: 1.75rem;
  }

  .modal-1 {
    padding: 20px 24px;
    display: none;
  }

  .team-header_image-list {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .rl_layout192_component {
    grid-template-columns: 1fr;
  }

  .logo_wrapper {
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .heading-style-h2-2 {
    justify-content: center;
    align-items: center;
  }

  .padding-section-large-2 {
    padding-top: 0;
  }

  .logo_list {
    justify-content: center;
  }
}

#w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfeba0-228ac29f, #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfeb84-228ac29f, #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfebcc-228ac29f, #w-node-b002cad9-ad61-169c-12a2-dda529b4046d-5fc1dcb5 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfeba0-228ac29f {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfeb84-228ac29f {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfebcc-228ac29f {
    grid-area: 1 / 2 / 2 / 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_62ed95f7-cf5c-3149-8f09-0c6e98964894-978202b9 {
    order: -9999;
  }

  #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfeba0-228ac29f, #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfeb84-228ac29f, #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfebcc-228ac29f {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfeba0-228ac29f {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfeb84-228ac29f {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-e27cfe51-c6b8-0fad-cb11-4a7f5fbfebcc-228ac29f {
    grid-area: 2 / 1 / 3 / 2;
  }
}


